.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}


p{
    color: white;
    
    font-size: 50px;
    margin-top: 30%;
    padding: 10px 50px 10px 50px;
}

.main{
    font-size: 70px;
    margin-top: 25%;
    position: relative;
}

span{
    position: absolute;
    left: 25%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}